body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
}

img {
    margin-top: 100px;
}

article {
    border: 1px solid black;
    width: 45%;
}